#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		--prefix=/usr \
		--libdir=/usr/lib/$(DEB_HOST_MULTIARCH) \
		--enable-cloud-input-mode \
		--enable-onnxruntime \
		--enable-opencc \
		--enable-libnotify

override_dh_auto_install:
	dh_auto_install -- DESTDIR=$(CURDIR)/debian/ibus-libpinyin
